body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    background-color: #222831;
    color: #EEEEEE;
}

a {
    color: #00ADB5;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid #F05454;
    padding: 0 0 10px 0;
}

h2 {
    font-weight: normal;
    margin: 30px 0 0;
}

#content {
    float: left;
    width: 60%;
    padding: 0 0 0 30px;
}

#sidebar {
    float: right;
    width: 30%;
    padding: 10px;
    background: #393E46;
    height: 100%;
}

p.date {
    color: #ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

.pagination {
    margin: 40px 0;
    font-weight: bold;
}

.bottom-container {
  text-align: center;
  background-color: #00ADB5;
  padding: 50px 0 20px;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #DDDDDD;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link {
  color: white;

}


.btn {
  background: #F05454;
  background-image: -webkit-linear-gradient(top, #F05454, #30475E);
  background-image: -moz-linear-gradient(top, #F05454, #30475E);
  background-image: -ms-linear-gradient(top, #F05454, #30475E);
  background-image: -o-linear-gradient(top, #F05454, #30475E);
  background-image: linear-gradient(to bottom, #F05454, #30475E);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Kontakt;
  color: #ffffff;
  font-size: 15px;
  padding: 15px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff ;
  size: 150%;
  text-decoration: none;
}

/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}
input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
}
input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

.comment {
    padding: 10px;
}
.comment:nth-child(even) {
    background: #efefef;
}
.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}
